.wrap {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.profile {
  width: 450px;
  height: 610px;

  /* border: 3px solid #0c0c0c; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 253, 253, 0.553);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.profile:hover {
  transform: scale(1.01);
}

.description {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(44, 47, 47);

  margin-bottom: 25px;
  margin-top: 20px;
}

.name {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}

.tag,
.location {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #656565;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  width: 450px;
  height: 100%;
  /* border-top: 2px solid #101030; */
  padding-top: 15px;
  background-color: #464646d2;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* border: 2px solid #0c0c0c; */
}

/* .item:not(:last-child) {
  border-right: 1px solid #101030;
} */

.label {
  font-size: 20px;
  line-height: 1.62;
  text-align: center;
  justify-content: center;
}
.value {
  text-align: center;
  font-size: 20px;
  line-height: 1.58;
  font-weight: bold;
}
